---
interface Props {
  promo: {
    id: string;
    created_time: string;
    last_edited_time: string;
    cover: string | false;
    properties: {
      title: string;
      subtitle: string;
      description: string;
      smallText: string;
      percent: number;
      startDate: string;
      endDate: string;
      active: boolean;
      disabled: boolean;
    };
  };
}

const hasId = Boolean(Astro.params.id);
const { promo } = Astro.props;
const { cover, properties, id } = promo;

const styles = {
  default:
    "before:bg-gray-100 before:text-gray-800 before:text-xs before:block before:rounded before:border before:px-1 before:border-gray-500 before:font-normal before:max-w-max before:font-normal",
  absolute: "before:absolute before:top-4 before:left-4 before:z-[1] relative",
};
---

<div
  class='mb-10 bg-white border border-gray-200 rounded-lg shadow break-inside-avoid'>
  {
    cover && (
      <div
        class:list={[
          styles["default"],
          styles["absolute"],
          "before:content-['cover'] max-h-80 overflow-hidden",
        ]}>
        <img class='rounded-t-lg' src={cover} alt={properties.title} />
      </div>
    )
  }
  <div class='p-5'>
    <h5
      class:list={[
        styles["default"],
        "before:content-['title'] mb-2 text-2xl font-bold tracking-tight text-gray-900",
      ]}>
      {properties.title}
    </h5>
    <p
      class:list={[
        styles["default"],
        "before:content-['subtitle'] mb-3 font-normal text-gray-700",
      ]}>
      {properties.subtitle}
    </p>
    <p class:list={[styles["default"], "before:content-['percent'] text-3xl"]}>
      {properties.percent * 100}%
    </p>
    <details class='mt-4 cursor-pointer'>
      <summary>open details</summary>
      <p
        class:list={[
          styles["default"],
          "before:content-['description'] whitespace-pre-line py-4",
        ]}>
        {properties.description}
      </p>
      <p
        class:list={[
          styles["default"],
          "before:content-['smallText'] whitespace-pre-line py-4 text-sm",
        ]}>
        {properties.smallText}
      </p>
    </details>
    {
      !hasId && (
        <a
          href={id}
          class='mt-8 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-zinc-700 rounded-lg hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300'>
          Read more
          <svg
            class='w-3.5 h-3.5 ml-2'
            aria-hidden='true'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 14 10'>
            <path
              stroke='currentColor'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M1 5h12m0 0L9 1m4 4L9 9'
            />
          </svg>
        </a>
      )
    }
  </div>
</div>
